@{
    ViewBag.Title = "Contact Us";
}
    <div class="row contents">
        <h2 class="title">@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <div class="col-md-5">
            <div class="image-contact">
                <img src="~/imgs/letter.png" class="icon-letter" />
            </div>
            <div class="description-contact">
                <div class="subtitle">We’re available to assist you:</div>
                <address>
                    One Microsoft Way<br />
                    Redmond, WA 98052-6399<br />
                    <abbr title="Phone">P:</abbr>
                    425.555.0100
                </address>

                <address>
                    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                </address>
            </div>
        </div>
        <div class="col-md-7">
            <div class=" contact-form">
                <form id="contact-form" class="form" action="#" method="POST" role="form">
                    <div class="form-group">
                        <label class="form-label" for="name">Your Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Your name" tabindex="1" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="email">Your Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" tabindex="2" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="subject">Subject</label>
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" tabindex="3">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="message">Message</label>
                        <textarea rows="5" cols="50" name="message" class="form-control" id="message" placeholder="Message..." tabindex="4" required></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-start-order">Send Message</button>
                    </div>
                </form>
            </div>
        </div>


    </div>
