@{
    ViewBag.Title = "Home Page";
}

<div class="row main-content">
    <div class="main-title">
        Beings Living Well +
    </div>
    <div class="main-box col-xs-11 col-sm-8 col-md-5">
        <p class="box-title">Our love for berries.</p>
        <p class="box-text">
            The blackberry is an edible fruit produced by many species in the genus Rubus in the family Rosaceae.
            Blackberries are a very good source of vitamin C and manganese, and a good source of vitamin K.
            They also provide high amounts of antioxidant compounds, anthocyanins and other flavonoids
        </p>
    </div>
</div>